<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54710886479-p3oo1v5k81d5dqradp0kdrm1t0o0bd98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54710886479-p3oo1v5k81d5dqradp0kdrm1t0o0bd98</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>54710886479-95iq0glcn2dd89sq3sbqg936oflt35k0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADL_UxGQRE--VXtJHbjsu3XL6x5NkS538</string>
	<key>GCM_SENDER_ID</key>
	<string>54710886479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heartbit.heartBitWalletClient</string>
	<key>PROJECT_ID</key>
	<string>heartbit-wallet-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>heartbit-wallet-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54710886479:ios:4e8cf071190ec27ef98a3a</string>
</dict>
</plist>